$color-absolute-white: #fff;

$color-green-70: #CBEA7B;
$color-green-85: #E5F5BD;
$color-green-95: #F6FBE9;
$color-green-99: #FAFDF2;

$color-dark-green-15: #1A3129;
$color-dark-green-20: #234338;
$color-dark-green-30: #346454;

$color-grey-15: #262626;
$color-grey-30: #4C4C4D;
$color-grey-60: #98989A;



$content-width: 1596px;

$content-laptop-width: 1567px;

$tablet-width: 1280px;

$mobile-big-width: 768px;

$mobile-small-width: 414px;