@mixin font ($size, $height: 150%, $weight: bold, $style: normal, $color: $color-dark-green-30) {
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $height;
    color: $color;
}


@mixin media-laptop {
    @media (max-width: $content-laptop-width) {@content;}
}
@mixin media-tablet {
    @media (max-width: $tablet-width) {@content;}
}
@mixin media-mobile-big-width {
    @media (max-width: $mobile-big-width) {@content;}
}
@mixin media-mobile{
    @media (max-width: $mobile-small-width) {@content;}
}

