.btn {
    border-radius: 8px;
    background: $color-green-70;
    padding: 14px 24px;
    border: 1px solid $color-green-70;
    cursor: pointer;
}

.background-light {
    background: $color-green-95;
}