.features__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-green-70;
    width: 68px;
    height: 68px;
    border-radius: 8px;
    padding: 14px;
}

// .icon__card {
//     background-repeat: no-repeat;
//     background-size: contain;
//     background-position: center;
// }

// .icon-plans {
    // width: 38.759px;
    // height: 36.311px;
    // background-image: url("../../assets/img/camera.macro.svg");
// }

// .icon-graduationcap {
    // width: 35.656px;
    // height: 38.5px;
    // background-image: url("../../assets/img/graduationcap.fill.svg");
// }

// .icon-knife {
//     width: 22.998px;
//     height: 41.3px;
//     background-image: url("../../assets/img/fork.knife.svg");
// }

// .icon-recipes {
//     width: 28.158px;
//     height: 35.91px;
//     background-image: url("../../assets/img/wallet.pass.fill.svg");
// }

// .icon-dumbbell {
//     width: 37.485px;
//     height: 21.943px;
//     background-image: url("../../assets/img/dumbbell.fill.svg");
// }

// .icon-backpack {
//     width: 27.54px;
//     height: 43.711px;
//     background-image: url("../../assets/img/backpack.fill.svg");
// }


