.pricing {
    margin-bottom: 49px;
}

.pricing__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing__subtitle {
    text-align: center;
    max-width: 780px;
    margin-bottom:  60px;
}



.pricing__box {
    display: flex;
    width: 230px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid $color-green-70;
    margin-bottom: 10px;

    .pricing-tab {
        padding: 10px 24px;

    }

    .tab-selected {
        border-radius: 6px;
        background: $color-dark-green-30;
        color: $color-absolute-white;
    }
}

.pricing__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__abo {
    margin-bottom: 40px;
}

.pricing__text {
    text-align: center;
}

.pricing__container-cards {
    display: flex;
    gap: 20px;

    @media only screen and (max-width: 1102px) {
        flex-wrap: wrap;
        justify-content: center;

    }
}

.pricing__card {
    max-width: 413px;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid $color-green-85;
    background: $color-green-95;

    @media only screen and (max-width: 1102px) {
        padding: 30px;

    }
}

.pricing__subtitle-card, .pricing__beschreibung {
    margin-bottom: 30px;
}

.pricing__price-box {
    margin-bottom: 24px;
}

.pricing__title-card, .pricing__beschreibung {
    color: $color-grey-30;
}